.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.header-article,
.header-article-main {
  height: 0 !important;
}

.header-article__left,
.header-article__right {
  display: none !important;
}

.navbar-brand-box {
  display: none;
}

.bd-toc {
  margin-top: 5em;
}

.bd-search {
  padding: 1rem 15px 0 15px !important;
}

#main-content {
  padding-top: 1rem !important;
}

#main-content > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article {
  height: 100%;
}

.prev-next-area {
  height: 9em;
  margin: 0 !important;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content {
  display: none;
}

.list-caption ul.nav {
  padding-left: 15px !important;
}
.bd-links li {
  overflow: hidden !important;
}

.toctree-checkbox:checked ~ ul {
  max-height: 900px; 
  transition: max-height 1s ease-in;
}
.toctree-checkbox ~ ul {
  display: block !important;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.toctree-l1.has-children > a {
  font-weight: 800 !important;
}
